Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "*.md"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - test/*
          - src/*/validate.sh
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - check.sh
          - pinned_versions.env
          - tox.ini
          - update_versions.sh
          - Vagrantfile
          - src/*/Vagrantfile
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - src/*/install.sh
          - install.sh
          - bindep_install.sh

ci(devcontainer): run feature tests in CI and release workflows
  .github/workflows/on-demand.yml
  .github/workflows/release.yml
Labels: none

style: remove extra spaces before inline comments and enforce eof newlines
  .github/workflows/on-demand.yml
  .github/workflows/release.yml
  .yamlfmt
  test/helm/duplicate.sh
  test/helm/install_helm_with_debug_disabled.sh
  test/helm/scenarios.json
  test/helm/test.sh
  test/kind/scenarios.json
  test/kubectl/scenarios.json
Labels: none

docs: update READMEs with Dev Container usage and clean up sections
  .markdownlint.yml
  src/act/README.md
  src/crystal-lang/README.md
  src/docker/README.md
  src/fly/README.md
  src/go-lang/README.md
  src/gomplate/README.md
  src/hadolint/README.md
  src/kn/README.md
  src/kustomize/README.md
  src/libvirt/README.md
  src/nfs/README.md
  src/nodejs/README.md
  src/rust-lang/README.md
  src/skopeo/README.md
  src/yq/README.md
Labels: none

docs(readme): clarify project purpose and improve wording
  README.md
Labels: documentation

feat(wordlist): add runtime to accepted terms
  .github/.wordlist.txt
Labels: ci

fix(ci): guard systemctl calls to handle containers without systemd
  src/buildah/install.sh
  src/docker/install.sh
  src/libvirt/install.sh
  src/nfs/install.sh
  src/qat-driver/install.sh
Labels: scripts

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

fix(ci): fix devcontainer feature test failures
  .github/workflows/release.yml
  Makefile
  src/docker/install.sh
  src/go-lang/install.sh
  src/podman/install.sh
  src/qat-driver/install.sh
  src/qemu/install.sh
  src/rust-lang/install.sh
  src/skopeo/install.sh
  src/virtualbox/install.sh
  test/qat-driver/install_qat_driver_with_debug_disabled.sh
  test/qat-driver/test.sh
Labels: scripts

ci(release): refine permissions and use env vars for secrets
  .github/workflows/release.yml
Labels: none

fix(install): correct test grouping for debian version check
  src/docker/install.sh
Labels: scripts

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/fly/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/fly/devcontainer-feature.json
Labels: none

docs: update READMEs for Dev Container support and cleanup
  .markdownlint.yml
  src/act/README.md
  src/crystal-lang/README.md
  src/docker/README.md
  src/fly/README.md
  src/go-lang/README.md
  src/gomplate/README.md
  src/hadolint/README.md
  src/kn/README.md
  src/kustomize/README.md
  src/libvirt/README.md
  src/nfs/README.md
  src/nodejs/README.md
  src/rust-lang/README.md
  src/skopeo/README.md
  src/yq/README.md
Labels: none

docs(readme): clarify project purpose and improve wording
  README.md
Labels: documentation

feat(wordlist): add runtime to accepted terms
  .github/.wordlist.txt
Labels: ci

feat: improve systemd detection and add buildah installer
  src/buildah/install.sh
  src/docker/install.sh
  src/libvirt/install.sh
  src/nfs/install.sh
  src/qat-driver/install.sh
Labels: scripts

fix: improve hardware detection and symlink handling for tools
  .github/workflows/release.yml
  Makefile
  src/docker/install.sh
  src/go-lang/install.sh
  src/podman/install.sh
  src/qat-driver/install.sh
  src/qemu/install.sh
  src/rust-lang/install.sh
  src/skopeo/install.sh
  src/virtualbox/install.sh
  test/qat-driver/install_qat_driver_with_debug_disabled.sh
  test/qat-driver/test.sh
Labels: scripts

fix(ci): refine permissions and use env vars for secrets in workflow
  .github/workflows/release.yml
Labels: none

fix(install): correct conditional logic for Debian version check
  src/docker/install.sh
Labels: scripts

fix(ci): set SCRIPT env and use static base image in test job
  .github/workflows/on-demand.yml
Labels: none

fix(install): ensure dnf-plugins-core is installed for rocky
  src/docker/install.sh
  test/docker/duplicate.sh
Labels: scripts

fix(validate): allow prefix match for go version check
  src/go-lang/validate.sh
Labels: tests

fix(qat-driver): skip install and validation if lspci is missing
  src/qat-driver/install.sh
  src/qat-driver/validate.sh
Labels: tests, scripts

fix(install): correct podman repo selection for ubuntu and debian
  src/podman/install.sh
Labels: scripts

feat(install): symlink rustfmt to /usr/local/bin
  src/rust-lang/install.sh
Labels: scripts

fix(install): restrict Ubuntu-specific checks to Ubuntu only
  src/skopeo/install.sh
Labels: scripts

fix(virtualbox): ignore apt install failures to allow VBoxManage usage
  src/virtualbox/install.sh
Labels: scripts

docs(readme): clarify mermaid flowchart for install script
  README.md
Labels: documentation

fix(cni-plugins): add sudo fallback and improve bridge plugin test
  src/cni-plugins/install.sh
  test/cni-plugins/test.sh
Labels: scripts

fix(nfs): add sudo fallback for root and improve exportfs check
  src/nfs/install.sh
  test/nfs/test.sh
Labels: scripts

fix(install): add sudo fallback for root-only environments
  src/qat-driver/install.sh
  test/qat-driver/test.sh
Labels: scripts

feat: add sudo fallback and improve user handling in installers
  src/act/install.sh
  src/buildah/install.sh
  src/docker/install.sh
  src/docker/validate.sh
  src/fly/install.sh
  src/go-lang/install.sh
  src/go-lang/validate.sh
  src/gomplate/install.sh
  src/hadolint/install.sh
  src/helm/install.sh
  src/kind/install.sh
  src/kn/install.sh
  src/kubectl/install.sh
  src/kustomize/install.sh
  src/libvirt/install.sh
  src/libvirt/validate.sh
  src/nodejs/install.sh
  src/pip/install.sh
  src/pip/validate.sh
  src/podman/install.sh
  src/podman/validate.sh
  src/qemu/install.sh
  src/rust-lang/install.sh
  src/skopeo/install.sh
  src/terraform/install.sh
  src/tkn/install.sh
  src/vagrant/install.sh
  src/virtualbox/install.sh
  src/virtualbox/validate.sh
  src/yq/install.sh
Labels: tests, scripts

feat(wordlist): add "pre" to accepted terms
  .github/.wordlist.txt
Labels: ci

style: remove trailing whitespace from os-blacklist.conf
  src/docker/os-blacklist.conf
Labels: none

style(yamllint): remove blank lines for cleaner config
  .yamllint
Labels: none

fix(sudo-fallback): skip sudo options in fallback for root context
  Makefile
  src/buildah/install.sh
  src/cni-plugins/install.sh
  src/docker/install.sh
  src/docker/validate.sh
  src/fly/install.sh
  src/go-lang/install.sh
  src/gomplate/install.sh
  src/hadolint/install.sh
  src/helm/install.sh
  src/kind/install.sh
  src/kn/install.sh
  src/kubectl/install.sh
  src/kustomize/install.sh
  src/libvirt/install.sh
  src/libvirt/validate.sh
  src/nfs/install.sh
  src/nodejs/install.sh
  src/pip/install.sh
  src/pip/validate.sh
  src/podman/install.sh
  src/podman/validate.sh
  src/qat-driver/install.sh
  src/qemu/install.sh
  src/rust-lang/install.sh
  src/skopeo/install.sh
  src/terraform/install.sh
  src/tkn/install.sh
  src/vagrant/install.sh
  src/virtualbox/install.sh
  src/virtualbox/validate.sh
  src/yq/install.sh
  test/cni-plugins/install_cni_plugins_with_debug_disabled.sh
Labels: tests, scripts
