Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

fix(sudo-fallback): handle unset positional parameters safely
  src/buildah/install.sh
  src/cni-plugins/install.sh
  src/docker/install.sh
  src/docker/validate.sh
  src/fly/install.sh
  src/go-lang/install.sh
  src/gomplate/install.sh
  src/hadolint/install.sh
  src/helm/install.sh
  src/kind/install.sh
  src/kn/install.sh
  src/kubectl/install.sh
  src/kustomize/install.sh
  src/libvirt/install.sh
  src/libvirt/validate.sh
  src/nfs/install.sh
  src/nodejs/install.sh
  src/pip/install.sh
  src/pip/validate.sh
  src/podman/install.sh
  src/podman/validate.sh
  src/qat-driver/install.sh
  src/qemu/install.sh
  src/rust-lang/install.sh
  src/skopeo/install.sh
  src/terraform/install.sh
  src/tkn/install.sh
  src/vagrant/install.sh
  src/virtualbox/install.sh
  src/virtualbox/validate.sh
  src/yq/install.sh
Labels: tests, scripts

chore(pre-commit): update ai-prepare-commit-msg to latest revision
  .pre-commit-config.yaml
Labels: none

feat: expand OS blacklist with additional unsupported distributions
  src/docker/os-blacklist.conf
  src/helm/os-blacklist.conf
  src/kind/os-blacklist.conf
  src/kubectl/os-blacklist.conf
  src/nfs/os-blacklist.conf
  src/qat-driver/os-blacklist.conf
  src/rust-lang/os-blacklist.conf
  src/vagrant/os-blacklist.conf
Labels: none

fix(ci): handle full distro blacklist in matrix generation
  ci/generate_matrix.sh
Labels: none

fix(install): set proxy variables with env for chameleonsocks install
  src/docker/install.sh
Labels: scripts

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/fly/devcontainer-feature.json
Labels: none

chore: remove devcontainer-feature definitions for libvirt, qemu, and virtualbox
  src/libvirt/devcontainer-feature.json
  src/qemu/devcontainer-feature.json
  src/virtualbox/devcontainer-feature.json
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  .github/workflows/on-demand.yml
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/fly/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/on-demand.yml
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Apply suggestions from code review
  .github/.wordlist.txt
  ci/pinned_versions.env
Labels: ci

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/fly/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/fly/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Update .github/.wordlist.txt
  .github/.wordlist.txt
Labels: ci

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

chore(lint): add textlint with terminology rule to formatting workflow
  .textlintignore
  .textlintrc.json
  Makefile
Labels: none

Update .github/.wordlist.txt
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "*.md"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - test/*
          - src/*/validate.sh
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - check.sh
          - pinned_versions.env
          - tox.ini
          - update_versions.sh
          - Vagrantfile
          - src/*/Vagrantfile
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - src/*/install.sh
          - install.sh
          - bindep_install.sh
