Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

Upgrade pinned versions file
  .github/workflows/triage.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/triage.yml
  .github/workflows/update.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

fix(install): improve python interpreter and pip installation logic
  src/pip/install.sh
Labels: scripts

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

chore: update python command resolution and remove unused tox setting
  .github/workflows/on-demand.yml
  src/pip/install.sh
  tox.ini
Labels: ci, scripts

chore: standardize GitHub Actions workflows (#255)
  .github/workflows/lint.yml
Labels: none

Upgrade pinned versions file
  .github/actions/vagrant-setup/action.yml
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/triage.yml
  .github/workflows/update.yml
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
  src/kind/devcontainer-feature.json
Labels: none

chore(deps): update GitHub Actions to latest stable versions
  .github/actions/vagrant-setup/action.yml
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/triage.yml
  .github/workflows/update.yml
Labels: none

fix(pip): ensure pip command is available and validate via python -m pip
  src/pip/install.sh
  src/pip/validate.sh
Labels: tests, scripts

feat: add devcontainer-feature.json for multiple tools
  src/buildah/devcontainer-feature.json
  src/docker/devcontainer-feature.json
  src/fly/devcontainer-feature.json
  src/go-lang/devcontainer-feature.json
  src/gomplate/devcontainer-feature.json
  src/hadolint/devcontainer-feature.json
  src/kn/devcontainer-feature.json
  src/kustomize/devcontainer-feature.json
  src/libvirt/devcontainer-feature.json
  src/nfs/devcontainer-feature.json
  src/nodejs/devcontainer-feature.json
Labels: none

chore: update default tool versions in devcontainer features
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
  src/fly/devcontainer-feature.json
  src/gomplate/devcontainer-feature.json
  src/hadolint/devcontainer-feature.json
  src/kind/devcontainer-feature.json
  src/kn/devcontainer-feature.json
  src/kustomize/devcontainer-feature.json
Labels: none

chore(ci): update pinned tool versions for CI environment
  ci/pinned_versions.env
Labels: none

fix(install): use VERSION_ID for openSUSE Leap repo URL
  src/crystal-lang/install.sh
Labels: scripts

fix(validate): source autocomplete script before function check
  src/fly/validate.sh
Labels: tests

fix(install): remove -slim suffix from gomplate binary name
  src/gomplate/install.sh
Labels: scripts

fix(install): remove redundant 'v' prefix in version comparison
  src/kind/install.sh
Labels: scripts

fix(validate): source autocomplete script before function check
  src/kn/validate.sh
Labels: tests

fix(install): improve kustomize version check for robustness
  src/kustomize/install.sh
Labels: scripts

fix(validate): source autocomplete script before validation
  src/kustomize/validate.sh
Labels: tests

fix(install): use dynamic nodejs version for suse installs
  src/nodejs/install.sh
Labels: scripts

fix(test): ensure kind autocomplete is sourced before validation
  test/kind/test.sh
Labels: none

Update ci/pinned_versions.env
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/hadolint/devcontainer-feature.json
Labels: none

feat: add devcontainer-feature definitions for multiple tools
  src/pip/devcontainer-feature.json
  src/podman/devcontainer-feature.json
  src/qat-driver/devcontainer-feature.json
  src/qemu/devcontainer-feature.json
  src/rust-lang/devcontainer-feature.json
  src/skopeo/devcontainer-feature.json
  src/terraform/devcontainer-feature.json
  src/tkn/devcontainer-feature.json
  src/vagrant/devcontainer-feature.json
  src/virtualbox/devcontainer-feature.json
  src/yq/devcontainer-feature.json
Labels: none

chore(actions): standardize action tags to v-prefixed versions
  .github/actions/vagrant-setup/action.yml
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/triage.yml
  .github/workflows/update.yml
  ci/pinned_versions.env
  ci/update_versions.sh
  src/aws/devcontainer-feature.json
  src/hadolint/devcontainer-feature.json
Labels: none

test: add installation validation scripts for common cli tools
  test/buildah/test.sh
  test/docker/test.sh
  test/fly/test.sh
  test/go-lang/test.sh
  test/gomplate/test.sh
  test/hadolint/test.sh
  test/kn/test.sh
  test/kustomize/test.sh
  test/libvirt/test.sh
  test/nfs/test.sh
  test/nodejs/test.sh
  test/pip/test.sh
  test/podman/test.sh
  test/qat-driver/test.sh
  test/qemu/test.sh
  test/rust-lang/test.sh
  test/skopeo/test.sh
  test/terraform/test.sh
  test/tkn/test.sh
  test/vagrant/test.sh
  test/virtualbox/test.sh
  test/yq/test.sh
Labels: none

fix(test): make test scripts executable
  test/docker/test.sh
  test/fly/test.sh
  test/go-lang/test.sh
  test/gomplate/test.sh
  test/hadolint/test.sh
  test/kn/test.sh
  test/kustomize/test.sh
  test/libvirt/test.sh
  test/nfs/test.sh
  test/nodejs/test.sh
Labels: none

chore(buildah): remove devcontainer feature and test script
  src/buildah/devcontainer-feature.json
  test/buildah/test.sh
Labels: none

ci(release): switch to manual feature publishing with Node.js setup
  .github/workflows/release.yml
Labels: none

refactor(test): modernize and consolidate test scripts
  test/act/test.sh
  test/aws/test.sh
  test/cni-plugins/test.sh
  test/commands_list.sh
  test/docker/duplicate.sh
  test/docker/install_docker_with_debug_disabled.sh
  test/docker/scenarios.json
  test/docker/test.sh
  test/helm/duplicate.sh
  test/helm/install_helm_with_debug_disabled.sh
  test/helm/scenarios.json
  test/helm/test.sh
  test/kind/duplicate.sh
  test/kind/install_kind_with_debug_disabled.sh
  test/kind/scenarios.json
  test/kubectl/duplicate.sh
  test/kubectl/finalize_namespace.sh
  test/kubectl/install_kubectl_with_debug_disabled.sh
  test/kubectl/krew.sh
  test/kubectl/test.sh
  test/os_supported.sh
Labels: tests

chore(ci): add pre-commit config and automate hook updates
  .pre-commit-config.yaml
  ci/update_versions.sh
Labels: none

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "*.md"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - test/*
          - src/*/validate.sh
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - check.sh
          - pinned_versions.env
          - tox.ini
          - update_versions.sh
          - Vagrantfile
          - src/*/Vagrantfile
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - src/*/install.sh
          - install.sh
          - bindep_install.sh
