Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "*.md"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - test/*
          - src/*/validate.sh
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - check.sh
          - pinned_versions.env
          - tox.ini
          - update_versions.sh
          - Vagrantfile
          - src/*/Vagrantfile
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - src/*/install.sh
          - install.sh
          - bindep_install.sh

Add default branch for super-linter
  .github/workflows/lint.yml
Labels: none

Use yaml formatter
  .eslintrc.yml
  .github/actions/check-vagrant/action.yml
  .github/actions/vagrant-setup/action.yml
  .github/filters.yml
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/on-demand.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/update.yml
  .rubocop.yml
  .spellcheck.yml
  .tektonlintrc.yaml
  .yamlfmt
  distros_supported.yml
  docker-compose.yml
Labels: ci

Upgrade pinned versions file
  .github/actions/vagrant-setup/action.yml
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/update.yml
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  .github/workflows/compress-images.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/compress-images.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/kind/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/compress-images.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  .github/workflows/triage.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/compress-images.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/compress-images.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Fix pip installation
  src/pip/install.sh
Labels: scripts

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/actions/vagrant-setup/action.yml
  .github/workflows/distros.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none
