Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Fix super-linter CI by adding full git history checkout (#244)
  .eslintrc.yml
  .github/workflows/lint.yml
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/spell.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/on-demand.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Fix GITHUB_ACTIONS_ZIZMOR super-linter failures and update pinned action versions (#246)
  .github/.wordlist.txt
  .github/actions/vagrant-setup/action.yml
  .github/workflows/compress-images.yml
  .github/workflows/distros.yml
  .github/workflows/lint.yml
  .github/workflows/on-demand.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/spell.yml
  .github/workflows/triage.yml
  .github/workflows/update.yml
  .jscpd.json
  .prettierrc.json
  .trivyignore
  Dockerfile
  README.md
  biome.json
  ci/update_versions.sh
  src/go-lang/README.md
  src/nodejs/install.sh
  src/podman/validate.sh
  src/virtualbox/install.sh
  src/yq/README.md
Labels: documentation, tests, ci, scripts

fix: spelling issues
  .github/.wordlist.txt
Labels: ci

fix: linting issues
  .jscpd.json
  .prettierignore
  .prettierrc.json
  Makefile
  biome.json
  eslint.config.js
Labels: none

fix: restore git credentials for create-pr-action push (#247)
  .github/workflows/lint.yml
  .github/workflows/update.yml
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
  src/crystal-lang/devcontainer-feature.json
  src/helm/devcontainer-feature.json
  src/kind/devcontainer-feature.json
  src/kubectl/devcontainer-feature.json
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

fix: use distinct PR_BRANCH_NAME for check-dictionary to prevent race condition (#249)
  .github/workflows/update.yml
Labels: none

Trigger spellcheck CI on wordlist and config changes (#250)
  .github/.wordlist.txt
  .github/workflows/spell.yml
Labels: ci

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  .github/workflows/lint.yml
  .github/workflows/rebase.yml
  ci/pinned_versions.env
  spec/install_spec.sh
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  .github/workflows/lint.yml
  .github/workflows/rebase.yml
  ci/pinned_versions.env
  spec/install_spec.sh
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
  src/cni-plugins/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/act/devcontainer-feature.json
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "*.md"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - test/*
          - src/*/validate.sh
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - check.sh
          - pinned_versions.env
          - tox.ini
          - update_versions.sh
          - Vagrantfile
          - src/*/Vagrantfile
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - src/*/install.sh
          - install.sh
          - bindep_install.sh
