Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

Notes added by 'git notes add'
  ca/adde7bdb76bc7bb5ae0d62b0ae7536daab15a1
Labels: none

Notes added by 'git notes add'
  ce/ffd1995eb534b8778995191b4830a551394797
Labels: none

Notes added by 'git notes add'
  43/3896ffa8badffbd67a08d4f55bc0b77f25542e
Labels: none

Notes added by 'git notes add'
  5d/3c8186a222469a94980a900aa1ff44ff27cc8a
Labels: none

Notes added by 'git notes add'
  44/2aba5dec809b5034426c6e33f1444c85595fc0
Labels: none

Notes added by 'git notes add'
  c7/383394ccc46949df4a1ab4b880f94e5d62bd25
Labels: none

Notes added by 'git notes add'
  9b/70549da670239fd20d5bc5a64c088d0f50f646
Labels: none

Notes added by 'git notes add'
  a0/068cc784305e4a38ef0dfa4cf3a4c8c501f548
Labels: none

Notes added by 'git notes add'
  e3/a49b69cb0daed19cfc30bd21e8b24d5448f0d1
Labels: none

Notes added by 'git notes add'
  5c/086fa179732798cc289fa92bec5bf7117ccea0
Labels: none

Notes added by 'git notes add'
  c6/9f0def6eb8fcb54779ebe23783b8ac54fbf8d2
Labels: none

Notes added by 'git notes add'
  51/a87e9fe6aa001d5eb5557fea62aaa3838ae75e
Labels: none

Notes added by 'git notes add'
  4c/c704e1daf1bbcb59094f4e8b3eef2626aad39f
Labels: none

Notes added by 'git notes add'
  7d/6318407eecb657792c7606c28d6bfa26f37729
Labels: none

Notes added by 'git notes add'
  f9/f25105c488f12ca80d5b57a727b3deb5cb41e4
Labels: none

Notes added by 'git notes add'
  e4/fdc744b0630f64480396a1fc13ac5014c50063
Labels: none

Notes added by 'git notes add'
  a8/34c8f6dff127c7994b5c573151bd87472705e4
Labels: none

Notes added by 'git notes add'
  c4/bbba5db03e04a1f7ffea431fc9e2f0fabf9fdc
Labels: none

Notes added by 'git notes add'
  cf/884ce21e8a81ae2d0d7ce5f73dce65bcdd0ccb
Labels: none

Notes added by 'git notes add'
  01/af10cbe1db8977a1783784ef4a1c271fba05d5
Labels: none

Notes added by 'git notes add'
  49/aca71206f5e397c2e116f23e4b084669e41101
Labels: none

Notes added by 'git notes add'
  f6/8d5e75644be771de6404b81d8c6c6ec52a3d2b
Labels: none

Notes added by 'git notes add'
  d9/3fae966006983b3cc7e4af3065fced66cbac24
Labels: none

Notes added by 'git notes add'
  58/03a6cb7897bf8896ee41efcf95b64416f460de
Labels: none

Notes added by 'git notes add'
  58/217b26dea38b78b252c0aec6a740f63970770c
Labels: none

Notes added by 'git notes add'
  97/a222e5e55a4f3cfcdfed0970df7535a50d043a
Labels: none

Notes added by 'git notes add'
  53/a0be9453240b5b383c12b26372ed86e8f852da
Labels: none

docs: add project changelog and expand GitHub Actions wordlist
  .github/.wordlist.txt
  CHANGELOG.md
Labels: documentation, ci

chore(makefile): add cleanup target and integrate into fmt
  Makefile
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/kind/devcontainer-feature.json
Labels: none

Update dictionary definitions
  .github/.wordlist.txt
Labels: ci

Upgrade pinned versions file
  .github/workflows/lint.yml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
  src/kind/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  .pre-commit-config.yaml
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
  src/aws/devcontainer-feature.json
Labels: none

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "*.md"
tests:
  - changed-files:
      - any-glob-to-any-file:
          - test/*
          - src/*/validate.sh
ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - check.sh
          - pinned_versions.env
          - tox.ini
          - update_versions.sh
          - Vagrantfile
          - src/*/Vagrantfile
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - src/*/install.sh
          - install.sh
          - bindep_install.sh
