Repository electrocucaracha/pkg-mgr_scripts, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci, scripts

.github/labeler.yml:

---
# SPDX-license-identifier: Apache-2.0
##############################################################################
# Copyright (c) 2021
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

documentation:
  - docs/*
  - "*.md"

tests:
  - test/*
  - src/*/validate.sh

ci:
  - .github/*
  - check.sh
  - pinned_versions.env
  - tox.ini
  - update_versions.sh
  - Vagrantfile
  - src/*/Vagrantfile

scripts:
  - src/*/install.sh
  - install.sh
  - bindep_install.sh

Add CI devcontainer tasks
  .github/actions/check-devcontainer/action.yml
  .github/actions/check-vagrant/action.yml
  .github/workflows/on-demand.yml
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Enable devcontainer support for kind script
  src/kind/devcontainer-feature.json
  src/kind/install.sh
  test/kind/test.sh
Labels: scripts

Remove release-drafter leftover
  .github/release-drafter.yml
Labels: ci

Add dev container release GH action
  .github/workflows/release.yml
Labels: none

Enable devcontainer support for kubectl script
  src/kubectl/devcontainer-feature.json
  src/kubectl/install.sh
  src/kubectl/validate.sh
  test/kubectl/test.sh
Labels: tests, scripts

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Add CI devcontainer tasks
  .github/actions/check-vagrant/action.yml
  .github/workflows/on-demand.yml
  ci/generate_matrix.sh
Labels: none

Add images support
  ci/update_distros.sh
  distros_supported.yml
Labels: none

Enable devcontainer support for kind script
  .github/.wordlist.txt
  src/kind/README.md
  src/kind/devcontainer-feature.json
  src/kind/install.sh
  test/kind/test.sh
Labels: ci, scripts

Remove release-drafter leftover
  .github/release-drafter.yml
Labels: ci

Enable devcontainer support for kubectl script
  src/kubectl/README.md
  src/kubectl/devcontainer-feature.json
  src/kubectl/install.sh
  src/kubectl/validate.sh
  test/kubectl/test.sh
Labels: tests, scripts

Add dev container release GH action
  .github/workflows/release.yml
Labels: none

Rename check vagrant script
  .github/actions/check-vagrant/action.yml
  ci/check_vagrant.sh
Labels: none

Move print functions
  ci/_common.sh
  ci/_utils.sh
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Enable devcontainer support for kind script
  .github/.wordlist.txt
  src/kind/README.md
  src/kind/devcontainer-feature.json
  src/kind/install.sh
  test/kind/test.sh
Labels: ci, scripts

Add dev container release GH action
  .github/workflows/release.yml
Labels: none

Enable devcontainer support for kubectl script
  src/kubectl/README.md
  src/kubectl/devcontainer-feature.json
  src/kubectl/install.sh
  src/kubectl/validate.sh
  test/kubectl/test.sh
Labels: tests, scripts

Remove release-drafter leftover
  .github/release-drafter.yml
Labels: ci

Rename check vagrant script
  .github/actions/check-vagrant/action.yml
  ci/check_vagrant.sh
Labels: none

Move print functions
  ci/_common.sh
  ci/_utils.sh
Labels: none

Add images support
  ci/update_distros.sh
  distros_supported.yml
Labels: none

Enable devcontainer support for cni-plugins script
  src/cni-plugins/README.md
  src/cni-plugins/devcontainer-feature.json
  src/cni-plugins/install.sh
  src/cni-plugins/validate.sh
  test/cni-plugins/test.sh
Labels: tests, scripts

Enable devcontainer support for helm script
  src/helm/README.md
  src/helm/devcontainer-feature.json
  src/helm/install.sh
  test/helm/test.sh
Labels: scripts

Separate filters from GH Workflow
  .github/filters.yml
  .github/workflows/on-demand.yml
Labels: ci

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Upgrade distro list versions
  distros_supported.yml
Labels: none

Upgrade pinned versions file
  ci/pinned_versions.env
Labels: none

Revert back qemu rc version
  ci/pinned_versions.env
Labels: none
